<header class="header">
    <div class="header__inner container">
        <div class="logo header__logo">
            <a class="logo__link" href="/">ЛОГО</a>
        </div>
        <div class="greetings header__item">
            <div>
                <div data-icon="avatar"></div>
                <div class="header__greetings">Привет, Иван!</div>
            </div>
        </div>
        <menu class="navigation header__item">
            <div>
                <div data-icon="bg-menu"></div>
                <div class="header__menu-name">Меню</div>
            </div>
{#            <nav></nav>#}
        </menu>
    </div>
</header>