<nav class="nav-mobile mobile-show">
    <div class="nav-mobile__container">
        <div class="nav-mobile__item nav-mobile__active">
            <div data-icon="home"></div>
            <label class="nav-mobile__label">Главная</label>
        </div>
        <div class="nav-mobile__item">
            <div data-icon="list-order"></div>
            <label class="nav-mobile__label">Мои номера</label>
        </div>
        <div class="nav-mobile__item">
            <div data-icon="star"></div>
            <label class="nav-mobile__label">Другомания</label>
        </div>
        <div class="nav-mobile__item">
            <div data-icon="heart"></div>
            <label class="nav-mobile__label">Брони</label>
        </div>
        <div class="nav-mobile__item">
            <div data-icon="user"></div>
            <label class="nav-mobile__label">Профиль</label>
        </div>
    </div>
</nav>