$fontMontserrat: 'Montserrat';
$fontAzeretMono: 'Azeret Mono';

:root {
  --app-black: #000000;
  --app-white: #ffffff;
  --app-light-gray: #F3F4F6;
  --app-light-gray-2: #E5E7EB;
  --app-light-gray-3: #4B5563;
  --app-gray: #94A3B8;
  --ac-light-blue: #4D8EEF;
  --app-border-gray: #CBD5E1;
  --app-main-black: #111827;
  --app-blue: #3A24C6;
  --app-shadow:#0000000A;
  --app-violet: #3A24C6;
}