@mixin rotate($options) {
  transform: rotate($options);
}

@mixin placeholder($color, $size) {
  &::placeholder,
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $size;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color;
    font-size: $size;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
    font-size: $size;
  }
}

@mixin inputOrSelect{
  width:100%;
  height: 38px;
  padding: 0 1.6rem 0 1.6rem;
  border-radius: 6px;
  background-color: var(--app-light-gray);
  border:0;
}

@mixin overlay{
  width: 100%;
  height: 100vh;
  background-color: var(--app-white);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  display: none;
}